@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Chào mừng đến với web hỗ trợ khách hàng của</div>
                <div class="intro-heading">Thiên Nga Flycam</div>
            </div>
        </div>
    </header>

</div>